@model List<Fiap.Exemplo04.Web.MVC.Models.Time>
@{
    ViewBag.Title = "Listar";
}

<h2>Times</h2>

<table class="table table-striped">

    <tr>
        <th>Nome</th>
        <th>Data Fundação</th>
        <th>Técnico</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.DataFundacao.ToShortDateString()</td>
            <td>@item.Tecnico.Nome</td>
        </tr>
    }

</table>

